@model IEnumerable<KhumaloCraftLtd.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All products</h1>

@foreach(var product in Model)
{
    <div style="font-family: Arial, sans-serif; margin: 0; padding: 20px;">

        <img src="~/Images/@product.ImagePath" style="width: 300px; height: 300px;">
        <h2><a asp-controller="ProductModels" asp-action="Details" asp-route-id="@product.Id">@product.productName</a></h2>
        <h3>@product.Price</h3>
        <div>Seller: @product.User.Email</div>


    </div>
}
@if(!Model.Any())
{
    <p>No Active Listings</p>
}


