html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Uncial Antiqua', cursive;
    color: #333;
}

.nav {
    background-color: rgb(29, 0, 156);
    border: 2px solid black;
}

.nav-link {
    color: black;
}

    .nav-link:hover {
        color: gold;
    }

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #5a3e1b;
}

.form-control, .form-check-input {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #b89b73;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Uncial Antiqua', cursive;
    color: #5a3e1b;
}

.btn-primary {
    background-color: #5a3e1b;
    border-color: #5a3e1b;
    font-family: 'Uncial Antiqua', cursive;
    font-size: 1.2em;
}

    .btn-primary:hover {
        background-color: #3e2a13;
        border-color: #3e2a13;
    }

label {
    color: #5a3e1b;
    font-size: 1.1em;
}

hr {
    border-top: 2px solid #b89b73;
}
.logo-img {
    max-height: 75px; /* Adjust height as needed */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

    .navbar-brand span {
        font-family: 'Uncial Antiqua', cursive;
        color: #5a3e1b;
        font-size: 1.5em;
        margin-left: 10px;
    }